
body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin-left: 2%;
    line-height: 1.2em;
    font-size: 40px;
}

pre {
    font-size: 80px;
    font-family: Arial;
}

.weather {

}

#success {
    color: red;
}

#notes {
    font-size: 40px;
}